PerfectSelfBackend/PerfectSelf.WebAPI/obj/
PerfectSelfBackend/PerfectSelf.Backend/obj/
PerfectSelfBackend/PerfectSelf.Backend/bin/
PerfectSelfBackend/packages/
PerfectSelfBackend/PerfectSelf.Core/obj/
