PerfectSelfBackend/PerfectSelf.WebAPI/obj/
PerfectSelfBackend/PerfectSelf.Backend/obj/
PerfectSelfBackend/PerfectSelf.Backend/bin/
PerfectSelfBackend/packages/
PerfectSelfBackend/PerfectSelf.Core/obj/
PerfectSelfBackend/PerfectSelf.Core/bin/
PerfectSelfBackend/PerfectSelf.WebAPI/bin/
PerfectSelfBackend/PerfectSelf.WebAPI/Db/
PerfectSelfBackend/.vs/PerfectSelfBackend/v17/.suo
PerfectSelfBackend/.vs/PerfectSelfBackend/DesignTimeBuild/.dtbcache.v2
